.cover {
    margin: 92px auto 0;
    padding: 0 48px 0;
    max-width: 1184px;
}

@media screen and (max-width: 1278.98px) {
    .cover {
        padding: 0;
    }
}

@media screen and (max-width: 1023.89px) {
    .cover {
        margin: 90px auto 0;
    }
}

@media screen and (max-width: 767.9px) {
    .cover {
        margin: 66px auto 0;
    }
}