.cover__overlay {
    background-image: url(../../../sprint-3-images/cover-trains.jpg);
    background-position: center;
    box-sizing: border-box;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    padding: 245px 0 245px;
    text-align: center;
}

.cover__overlay:hover:before {
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: .8;
    background: #2A2C2F;
    z-index: 1;
}

.cover__overlay:before {
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: .3;
    background: #2A2C2F;
    z-index: 3;
}

@media screen and (max-width: 1279.98px) {
    .cover__overlay {
        padding: 195px 0 195px;
    }
}

@media screen and (max-width: 1023.98px) {
    .cover__overlay {
        padding: 115px 0 115px;
    }
}

@media screen and (max-width: 767.98px) {
    .cover__overlay {
        padding: 33px 0 33px;
    }
}